body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-image: url('img/5_background/game_background/game_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/ZABARS/zabars.ttf') format('truetype');
}

canvas {
    margin-top: 10px;
    background-color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: block;
}

/* Smartphones ---------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones ---------- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.dNone {
    display: none !important;
}

.main_content {
    position: relative;
}

/* .start-button {
    width: 150px;
    cursor: pointer;
} */

.start-screen {
    height: 480px;
    width: 720px;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.start-screen img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 20px;
}

.game-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    gap: 600px;
}

.game-buttons img {
    height: 48px;
    width: 48px;
}

.game-buttons img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* button {
    cursor: pointer;
    font-family: 'zabars';
    font-size: 32px;
    background-image: linear-gradient(#ffdf00, #ff9d00);
    color: #ff9d00;
    text-shadow: 2px 2px #9a3a16;
    letter-spacing: 2px;
    border-radius: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9a3a16;
} */


.winning-screen {
    margin-top: 10px;
    height: 480px;
    width: 720px;
    background-color: black;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.losing-screen {
    margin-top: 10px;
    height: 480px;
    width: 720px;
    background-color: black;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.instructions_box {
    height: 48px;
    margin-left: 5px;
    margin-top: 8px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#ffdf00, #ff9d00);
    letter-spacing: 2px;
    border-radius: 10px;
}

.instructions_box h2 {
    padding-left: 16px;
}

.instructions {
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.instructions p {
    padding: 8px;
    letter-spacing: 2px;
    border-radius: 10px;
}

.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/5_background/game_background/game_background.jpg');
}

.icon_bar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 20px;

    img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

}

.icon_bar img {
    height: 24px;
    width: 24px;
}

/* ========== I M P R E S S U M ========== */


.impressum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.impressum h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
}


.impressum h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}


.impressum h3 {
    font-size: 1.125rem;
}


.impressum a {
    color: var(--fontColorMain);
}


.impressum a:hover {
    font-weight: bold;
    color: var(--green);
}


.impressum p {
    line-height: 1.25rem;
}


.impressum hr {
    margin-top: 2rem;
    margin-bottom: 1rem
}